.footer{
    padding-top: 50px;
    padding: 20px;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    background-color: var(--back17);
}

.techousFooter{
    padding: 5px;
}
.techousFooter > div > picture > img{
    width: 60%;
}
.techousFooter > h2{
    text-align: right;
    color: var(--back15);
}
.techousFooter > div,
.techousFooter > h2{
    display: inline-block;
    vertical-align: middle;
    width: 43.9%;
    padding: 10px;
}

#bottomFooter > img{
    width: 80%;
}

.techousLinks{
    margin-left: 30%;
    margin-right: 25%;
    margin-bottom: 20px;
}

/* for mi phone browsers */
@media screen and (max-width: 377px){
    .techousFooter > div,
    .techousFooter > h2{
        width: 40%;
    }
    .techousLinks{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 605px){
    .techousFooter{
        width: 40%;
    }
    .techousLinks{
        margin: 0;
    }
    .techousFooter > div,
    .techousFooter > h2{
        width: 90%;
        text-align: right;
    }
    .footerContent{
        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 791px){
    .footer{
        padding: 40px;
    }
    .techousFooter > div > picture > img{
        width: 50%;
    }
}

@media screen and (min-width: 965px){
    .footer{
        padding-left: 120px;
        padding-right: 120px;
    }
    .techousFooter > div > picture > img{
        width: 40%;
    }
    #bottomFooter{
        text-align: center;
    }
    #bottomFooter > img{
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
    .footer{
        padding-left: 23%;
        padding-right: 23%;
    }
}