.footerLink{
    margin: auto;
    text-align: left;
    padding: 10px;
}
.footerLink > a,
.footerLink > a:link,
.footerLink > a:visited{
    text-decoration: none;
    color: var(--back13);
    font-weight: bold;
}
.footerLink > i{
    color: var(--back15);
}
.footerLink > hr{
    border: 1px solid var(--back8);
    margin-top: 5px;
    margin-bottom: 5px;
}