/* MOBILE HEADER */
#mobileNavLogo{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--back1);
    border-radius: 200px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 2;
}
#mobileNavLogo > img{
    width: 50px;
    height: 60px;
}

#mobileNavCross{
    background-color: var(--back1);
    width: 82px;
    height: 82px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 45px;
    text-align: center;
    z-index: 2;
}

.fa-times{
    color: var(--back8);
    font-size: 70px;
    margin-top: 5px;
}

.fa-search,
.fa-question-circle,
.fa-user-plus{
    font-size: 40px;
    margin-top: 11.5px;
    color: var(--back1);
}

.mobileOptions{
    position: fixed;
    background-color: var(--back8);
    bottom: 0;
    right: 0;
    width: 65px;
    height: 65px;
    border-radius: 45px;
    text-align: center;
    margin: 10px;
    z-index: 2;
}

.mobileOptions:nth-child(3){
    margin-bottom: 150px;
    margin-right: 20px;
}
.mobileOptions:nth-child(4){
    margin-bottom: 130px;
    margin-right: 130px;
}
.mobileOptions:nth-child(5){
    margin-right: 150px;
    margin-bottom: 20px;
}
/* DESKTOP HEADER */
#desktopNav{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    z-index: 2;
    background-color: var(--back8);
}
#desktopNav > h1{
    font-size: 3em;
    color: var(--back6);
    vertical-align: top;
    padding: 10px;
    cursor: pointer;
}
#desktopNav > img{
    cursor: pointer;
}
#hack-logo{
    width: 50px;
    height: 60px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
}
#hack-header{
    width: 400px;
    height: 65px;
    padding-top: 10px;
}
.desktopHeader{
    display: inline-block;
}
.rightHeader{
    float: right;
    font-size: 2em;
    padding: 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--back13);
}

/* FORK ON GITHUB */
#forkOnGithub{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-right: 10px;
    margin-top: 4px;
}
#forkOnGithub > a{
    text-decoration: none;
    color: var(--back1);
    font-size: 35px;
}

@media screen and (min-width: 965px){
    #mobileNav{
        display: none;
    }
    #forkOnGithub{
        bottom: 0;
        top: initial;
        margin-bottom: 4px;
    }
    #forkOnGithub > a{
        font-size: 50px;
    }
}

@media screen and (max-width: 964px){
    #desktopNav{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    body{
        width: 100%;
    }
    #desktopNav{
        padding-left: 5%;
    }
    .rightHeader:nth-child(3){
        padding-right: 10%;
    }
    #forkOnGithub{
        bottom: initial;
        top: initial;
        margin: 0px;
        margin-right: 4px;
    }
    #forkOnGithub > a{
        font-size: 35px;
    }
}