#mainPage{
    padding-top: 30%;
    min-height: 85vh;
}
.mainPageContent{
    text-align: center;
}
.mainPageContent > img{
    width: 100%;
}
.mainPageContent > h1{
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
.mainPageContent > p{
    padding: 15px;
    font-size: 18px;
}

.sideImages{
    width: 200px;
    position: absolute;
    height: 200px;
    margin-top: -370px;
}
#hacktoberFestLeft{
    left: 0;
    cursor: pointer;
}
#hacktoberFestRight{
    float: right;
    margin-right: 200px;
    cursor: pointer;
}   

/* for mi phone browsers */
@media screen and (max-width: 360px) and (max-height: 562px){
    #mainPage{
        padding-top: 15%;
    }
}

@media screen and (max-width: 964px){
    #hacktoberFestLeft,
    #hacktoberFestRight{
        display: none;
    }
}

@media (min-width: 510px) and (max-width: 609px){
    #mainPage{
        padding-top: 18%;
    }
    .mainPageContent > h1{
        font-size: 1.9em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mainPageContent > p{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (min-width: 610px){
    #mainPage{
        padding-top: 15%;
        min-height: 90vh;
    }
    .mainPageContent > h1{
        font-size: 1.9em;
    }
    .mainPageContent > p{
        padding-left: 90px;
        padding-right: 90px;
    }
    .mainPageContent > img{
        width: 95%;
    }
}
@media screen and (min-width: 769px){
    #mainPage{
        padding-top: 70px;
        min-height: 90vh;
        width: 100%;
    }
    .mainPageContent > h1{
        font-size: 2em;
    }
    .mainPageContent > p{
        padding-left: 110px;
        padding-right: 110px;
    }
    .mainPageContent > img{
        width: 85%;
    }
}

@media screen and (min-width: 864px){
    .mainPageContent > p{
        padding-left: 120px;
        padding-right: 120px;
    }
    .mainPageContent > img{
        width: 75%;
    }
    .mainPageContent > p{
        padding-left: 140px;
        padding-right: 140px;
    }
}
@media screen and (min-width: 965px){
    #mainPage{
        padding-top: 10%;
    }
    .mainPageContent > img{
        width: 55%;
    }
    .mainPageContent > p{
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media screen and (min-width: 1200px){
    #mainPage{
        padding-top: 7%;
    }
    #hacktoberFestRight{
        padding-right: 5%;
    } 
    #hacktoberFestLeft{
        padding-left: 5%;
    }
    .mainPageContent > p{
        padding-left: 300px;
        padding-right: 300px;
    }
}
@media screen and (min-width: 1300px){
    #mainPage{
        padding-top: 5%;
    }
    .mainPageContent > img{
        width: 40%;
    }
    .mainPageContent > p{
        padding-left: 30%;
        padding-right: 30%;
    }
    .sideImages{
        width: 280px;
        height: 280px;
        margin-top: -500px;
    }
    #hacktoberFestRight{
        padding-right: 9%;
    }
}