.noDataView{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

.noDataView > h3{
    padding: 20px;
}

.noDataView > p{
    font-size: 18px;
}

.fa-searchengin,
.fa-exclamation-circle{
    color: var(--back1);
}