#participate{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--back16);
}

/* sub component styles */
.hrUnderline{
    border: 0.1px solid black;
}
.listItem{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.dataDiv,
.dataDiv > h2,
.dataDiv > h3,
.dataDiv > p{
    padding: 5px;
}

.dataDiv > h3 > a{
    text-decoration: none;
}

@media screen and (min-width: 605px){
    #participate{
        padding-left: 30px;
        padding-right: 30px;
    }
    .listItem{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 791px){
    #participate{
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 965px){
    #participate{
        padding-top: 103px;
        padding-left: 140px;
        padding-right: 140px;
    }
}

@media screen and (min-width: 1200px){
    #participate{
        padding-left: 24%;
        padding-right: 24%;
    }
    .dataDiv,
    .dataDiv > h2,
    .dataDiv > h3,
    .dataDiv > p{
        padding: 10px;
    }
}